@custom-selector :--heading h1, h2, h3, h4, h5, h6;

article :--heading + p {
  margin-top: 0;
}

@custom-selector :--any-link :link, :visited;

a:--any-link {
  color: blue;
}

.button{
  background-color:peru;
  .primary{
    background-color:red;
  }
  .secondary{
    background-color:chocolate;
  }
}
