.box
  display flex
  background-color peru
  transition all 1s ease
.box2
  background-color #ccc
+mobile()
  .box2
    background-color red
+mobile()
  .box
    background-color chocolate
    
.bar
  display inline-block
  opacity .5

.foo
  display fallback(flex, inline-block)
  width fallback(45pc, 450px)
  background-color: fallback(rgba(0, 0, 0, 0.5), #555555)